* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Eagle-Bold';
    src: url(./fonts/Eagle-Bold.otf);
}

@font-face {
    font-family: 'Eagle-Light';
    src: url(./fonts/Eagle-Light.otf);
}

@font-face {
    font-family: 'Eagle-Book';
    src: url(./fonts/eagle-5.ttf);
}

body {
    .tinyText {
        font-family: 'Epilogue', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: white;
    }

    .bigText {
        font-family: 'Oswald', sans-serif;
        font-size: 100px;
        font-weight: 900;
        line-height: 100px;
        color: white;
    }

    .changeColor {
        width: 150px;
        height: 150px;
        background-color: black;
    }

    .late {
        background-color: red;
    }

    header {

        display: flex;
        justify-content: center;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        transition: top 0.2s ease-in-out;

        &.is-hidden {
            opacity: 0;
            -webkit-transform: translate(0,-60px);
            transition: .5s ease;
          }
        
          &.is-visible {
            opacity: 1;
            -webkit-transform: translate(0,0);
            transition: .5s ease;
          }

          &.shadow {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }

        nav {
            width: 100%;
            padding: 0 10rem;

            ul {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 24px;
                        font-family: 'Eagle-Light';
                    }
                }
            }
        }
        img {
            width: 100px;
            height: 100px;
            margin-top: 5rem;
        }
    }

    main {
        .heroHeader {
            height: calc(100vh - 100px);
            background-image: url(./img/img-desktop-pain-scaled.jpeg);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                width: 500px;
                margin-left: 35rem;
            }
        }
    }
}