* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Propriété standard */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    scroll-behavior: smooth;
}



@font-face {
    font-family: 'Eagle-Bold';
    src: url(./fonts/Eagle-Bold.otf);
}
@font-face {
    font-family: 'Eagle-Light';
    src: url(./fonts/Eagle-Light.otf);
}
@font-face {
    font-family: 'Eagle-Book';
    src: url(./fonts/eagle-5.ttf);
}

// Mixins (responsive)
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

  body {

// Animation classes
.hidden {
    transform: translateY(120px) translateX(20px);
}
.shown {
    top: 0;
    opacity: 1;
    transform: translateY(0px) translateX(0px);
    transition: 0.2s ease-in;
}

// Main stream code
.light{
    font-family: 'Eagle-Light';
    src: url(./fonts/Eagle-Light.otf);
}


.blue{
    color: #06277B;
}

body {
    font-family: 'Eagle-Light';
    .tinyText {
        font-family: 'Epilogue', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: white;
    }

    .bigText {
        font-family: 'Oswald', sans-serif;
        font-size: 100px;
        font-weight: 900;
        line-height: 100px;
        color: white;
    }

    .changeColor {
        width: 150px;
        height: 150px;
        background-color: black;
    }

    .late {
        background-color: red;
    }

    #DivbuttonDark {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 10px 10px 0;
        z-index: 8000;

        #buttonDark {
            border-radius: 9999px;
            outline: none;
            border: none;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            #imgButton {
                width: 100px;
                height: 100px;
                border-radius: 9999px;
                transition: all 0.3s ease;
                background-color: white;
            }
        }
    
    }

    header {
        display: flex;
        justify-content: center;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        transition: top 0.2s ease-in-out;

        @include for-tablet-landscape-up() {
            display: none;
        }

        &.active {
            height: 100%;

            nav {
                ul {
                    li {
                        display: block;
                    }
                }
            }
        }

        &.is-hidden {
            opacity: 0;
            -webkit-transform: translate(0, -60px);
            
            -webkit-transform: translate(0,-120px);
            transition: .5s ease;
        }

        &.is-visible {
            opacity: 1;
            -webkit-transform: translate(0, 0);
            transition: .5s ease;
        }

        &.shadow {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        nav {
            width: 100%;
            padding: 0 10rem;

            ul {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include for-tablet-landscape-up() {
                    justify-content: center;
                }

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 24px;
                        font-family: 'Eagle-Light';
                    }

                    @include for-tablet-landscape-up() {
                        display: none;
                    }
                }
            }
        }

        img {
            width: 100px;
            height: 100px;
            margin-top: 5rem;
        }
    }

    main {        
        .heroHeader {
            height: calc(100vh - 100px);
            background-image: url(./img/img-desktop-pain-scaled.jpeg);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                width: 500px;
                margin-left: 35rem;

                @include for-desktop-up() {
                    margin-left: unset;
                    text-align: center;
                }
            }
        }
    }
}


section.Masonry {
    /* Grids --------------------------------------------*/
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 150px);
    margin: 0 auto;
    max-width: 70%;
    padding: 2rem 0;
    @include for-phone-only { 
        display: flex;
        grid-gap: 1rem;
        max-width: 95%;
     }
        /* Grid images --------------------------------------------*/
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include for-phone-only{
                width: 100%;

        .bubble_small{
            transition: 0.5s ease-out;
            z-index: -1;
            position: absolute;
            top: 100vh;
            right: 0;
        }
        .bubble_big{
            transition: 0.5s ease-out;
            z-index: -1;
            position: absolute;
            top: 150vh;
            left: 0;
        }
        .history{
            width: 100%;
            height: 150vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .icons{
                
                transition: 0.5s ease-out;
                margin-top: 10%;
                z-index: 0;
                margin-bottom: -6.5%;
                margin-left: -20%;
            }
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .paragraphTop{
                    
                    transition: 0.5s ease-out;
                    font-family: 'Eagle-Book';
                    z-index: 3;
                    width: 35%;
                    height: 30%;
                    background-color: #FAFAFA;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding-inline: 50px;
                    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                    margin-bottom: -25%;
                    margin-right: 20%;
                    h2{
                        width: 100%;
                        height: 25%;
                        font-size: 24px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .text{
                        font-family: 'Eagle-Light';
                        width: 90%;
                        height: 80%;
                        margin-left: -10%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: row-reverse;
                        .storyText{
                            width: 80ch;
                            padding: 25px;
                            text-align: left;
                            line-height: 24px;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .blue{
                                color: #0066FF;
                            }
                            .white{
                                color: white;
                                border: 1px solid black;
                            }
                            .red{
                                color: #FF0000;
                            }
                        }
                        .sideSpan{
                            width: 5px;
                            height: 80%;
                            background-color: #C64E1C;
                            border-radius: 5px;
                        }
                    }
                }
                .imageRight{
                    
                    transition: 0.5s ease-out;
                    transform: scale(0.9);
                    margin-right: -30%;
                    z-index: 2;
                }
                .paragraphBottom{
                    
                    transition: 0.5s ease-out;
                    font-family: 'Eagle-Book';
                    z-index: 0;
                    width: 35%;
                    height: 30%;
                    background-color: #FAFAFA;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding-inline: 50px;
                    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                    margin-top: -7%;
                    margin-left: 0%;
                    .text{
                        font-family: 'Eagle-Light';
                        width: 90%;
                        height: 100%;
                        margin-left: -10%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-direction: row;
                        .storyText{
                            margin-top: 10%;
                            width: 80ch;
                            padding: 25px;
                            text-align: right;
                            line-height: 24px;
                            font-size: 16px;
                        }
                        .sideSpan{
                            width: 5px;
                            height: 80%;
                            background-color: #C64E1C;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        /* Grid items --------------------------------------------*/

        
        .item-1 {
            grid-column: 1;
            grid-row: 1;
    @include for-desktop-up {
        .hidden {
            transform: translateY(50px) translateX(10px);
        }
        main{
            .bubble_small{
                top: 100vh;
                right: 0;
            }
            .bubble_big{
                top: 150vh;
                left: 0;
                transform: scale(0.8);
                margin-left: -10vw;
            }

            .history{
                width: 100%;
                height: 150vh;
                .icons{
                    margin-top: 10%;
                    z-index: 0;
                    margin-bottom: -20%;
                    margin-right: 30%;
                }
                .content{
                    width: 100%;
                    height: 100%;
                    .paragraphTop{
                        width: 55%;
                        height: 30%;
                        padding-inline: 50px;
                        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                        margin-bottom: -35%;
                        margin-right: 25%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 20px;
                        }
                        .text{
                            width: 90%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        transform: scale(0.8);
                        margin-right: -30%;
                    }
                    .paragraphBottom{
                        width: 50%;
                        height: 25%;
                        padding-inline: 50px;
                        margin-top: -15%;
                        margin-left: -5%;
                        .text{
                            width: 90%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 10%;
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }

        .item-2 {
             grid-row: 1/3;
             grid-column: 2;
    @include for-tablet-landscape-up {
        .hidden {
            transform: translateY(0px) translateX(0px);
        }
        main{
            .bubble_small{
                top: 90vh;
                right: 0vw;
            }
            .bubble_big{
                top: 130vh;
                left: -10vw;
                transform: scale(0.5);
                margin-left: -20vh;
            }

            .history{
                width: 100%;
                height: 100vh;
                .icons{
                    margin-top: 10%;
                    z-index: 0;
                    margin-bottom: -50vh;
                    margin-right: 30%;
                    transform: scale(0.6);
                }
                .content{
                    width: 100%;
                    height: 100%;
                    .paragraphTop{
                        z-index: 0;
                        width: 90%;
                        height: 30%;
                        padding-inline: 50px;
                        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
                        margin-bottom: 0%;
                        margin-right: 10%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 20px;
                        }
                        .text{
                            width: 90%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        display: none;
                    }
                    .paragraphBottom{
                        z-index: 0;
                        width: 90%;
                        height: 25%;
                        padding-inline: 20px;
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
                        margin-top: 10%;
                        margin-right: 5%;
                        .text{
                            width: 90%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 0%;
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }

        .item-3 {
            grid-row: 0;
            grid-column: 3;
            width: 50%;
        }

        .item-4 {
            grid-row: 2;
            grid-column: 1/2;   
        }

        .item-5 {
            grid-row: 1/4;
            grid-column:3;
            @include for-phone-only{
               display:none;
            }
        }

        .item-6 {
            grid-row: 3;
            grid-column: 1/3;
        }

        .item-7 {
            grid-row: 3;
            grid-column: 2/4;
        }
}
    @include for-phone-only {
        .hidden {
            transform: translateY(0px) translateX(0px);
        }
        main{
            .history{
                width: 100%;
                height: 125vh;
                .icons{
                    margin-top: 15vh;
                    z-index: 0;
                    margin-bottom: -5vh;
                    margin-right: 30%;
                }
                .content{
                    .paragraphTop{
                        z-index: 0;
                        width: 95%;
                        height: 60%;
                        padding-inline: 50px;
                        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
                        margin-bottom: 0%;
                        margin-right: 10%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 28px;
                        }
                        .text{
                            width: 100%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 100ch;
                                padding: 25px;
                                line-height: 22px;
                                font-size: 16px;
                                margin-bottom: 10%;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        display: none;
                    }
                    .paragraphBottom{
                        z-index: 0;
                        width: 95%;
                        height: 60%;
                        padding-inline: 20px;
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
                        margin-top: 10%;
                        margin-left: 10%;
                        .text{
                            width: 100%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 0%;
                                width: 100ch;
                                padding: 25px;
                                line-height: 22px;
                                font-size: 16px;
                                margin-bottom: 10%;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
    .menu {
        background-color: rgba(255, 255, 255, 0.741);
        width: 70%;
        margin: 0 auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
            h1{
                font-family: 'Eagle-Book';
                text-align: center;
                font-size: 36px;
                padding-top: 100px;

            }
            h2{
                font-family: 'Eagle-Book';
                text-align: center;
                padding-top: 100px;
            }
            .formula{
                display: flex;
                width: 90%;
                margin: 10px auto;
                justify-content: space-around;
                padding-top: 50px;
                p{
                    text-align: center;
                    padding-bottom: 20px;
                }
            }
            .dot {
                height: 50px;
                width: 50px;
                border: 0.1875em solid #0F1C3F;
                border-color: black;
                border-radius: 50%;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                p{
                    display: flex;
                    justify-content: center;
                    padding-top: 14px;
                }
            }
        .lunch{
            .title{
                color: #06277B;
            }
            .subtitle{
                text-align: center;
                padding-top: 20px;
                color:#C64E1C ;
            }
            h3{
                text-align: center;
                padding-top: 30px;
                color:#06277B ;
                font-family: 'Eagle-Bold';
            }
            p{
                text-align: center;
            }
            .flat {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                padding-top: 10px;
                width: 90%;
                margin: 0 auto;
                grid-row-gap: 73px;
                padding-bottom: 20px;
            }
            .flat1 { grid-area: 1 / 1 / 2 / 2; }
            .flat2 { grid-area: 1 / 2 / 2 / 3; }
            .flat3 { grid-area: 1 / 3 / 2 / 4; }
            .flat4 { grid-area: 2 / 1 / 3 / 2; }
            .flat5 { grid-area: 2 / 2 / 3 / 3; }
            .flat6 { grid-area: 2 / 3 / 3 / 4; }
            .flat7 { grid-area: 3 / 1 / 4 / 2; }
            .flat8 { grid-area: 3 / 2 / 4 / 3; }
            .flat9 { grid-area: 3 / 3 / 4 / 4; }
        }
        .ogm-info{
            background-color: black;
            color: white;
            padding: 20px;
            width: 85%;
            margin: 0 auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            font-family: 'Eagle-Bold';
            p{
                margin-left: 80px;
            }
            img{
                display: flex;
                flex-wrap: wrap;
                margin: auto;
                margin-top: -20px;
            }
        }
        .extra{
            padding-top: 30px;
            .all-title{
                display: flex;
                margin: 0 auto;
                width: 80%;
                justify-content: space-between;
            }
        }
    }

    }}}}}}