@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* Propriété standard */
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Eagle-Bold";
  src: url(./fonts/Eagle-Bold.otf);
}
@font-face {
  font-family: "Eagle-Light";
  src: url(./fonts/Eagle-Light.otf);
}
@font-face {
  font-family: "Eagle-Book";
  src: url(./fonts/eagle-5.ttf);
}
.hidden {
  transform: translateY(120px) translateX(20px);
}

.shown {
  top: 0;
  opacity: 1;
  transform: translateY(0px) translateX(0px);
  transition: 0.2s ease-in;
}

.light {
  font-family: "Eagle-Light";
  margin-left: 10px;
  src: url(./fonts/Eagle-Light.otf);
}

.green {
  color: #2b8c08 !important;
}

.blue {
  color: #06277B;
}

body .tinyText {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: white;
}
body .bigText {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 100px;
  color: white;
}
body .changeColor {
  width: 150px;
  height: 150px;
  background-color: black;
}
body .late {
  background-color: red;
}
body #DivbuttonDark {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px 0;
  z-index: 8000;
  border-radius: 500px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.116);
}
body #DivbuttonDark #buttonDark {
  border-radius: 9999px;
  outline: none;
  border: none;
}
body #DivbuttonDark #buttonDark #imgButton {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  background-color: transparent;
}
body header {
  z-index: 1000;
  display: flex;
  justify-content: center;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  transition: top 0.2s ease-in-out;
}
@media screen and (max-width: 900px) {
  body header {
    display: none;
  }
}
body header.active {
  height: 100%;
}
body header.active nav ul li {
  display: block;
}
body header.is-hidden {
  -webkit-transform: translate(0, -120px);
  transition: 0.5s ease;
}
body header.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transition: 0.5s ease;
}
body header.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body header nav {
  width: 100%;
  padding: 0 10rem;
}
body header nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  body header nav ul {
    justify-content: center;
  }
}
body header nav ul li {
  list-style: none;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: "Eagle-Light";
}
@media screen and (max-width: 900px) {
  body header nav ul li {
    display: none;
  }
}
body header img {
  width: 100px;
  height: 100px;
  margin-top: 5rem;
}
body main .heroHeader {
  height: calc(100vh - 100px);
  background-image: url(./img/img-desktop-pain-scaled.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .heroHeader .text {
  width: 500px;
  margin-left: 35rem;
}
@media screen and (max-width: 1200px) {
  body main .heroHeader .text {
    margin-left: unset;
    text-align: center;
  }
}
body main .bubble_small {
  transition: 0.5s ease-out;
  z-index: -1;
  position: absolute;
  top: 100vh;
  right: 0;
}
body main .bubble_big {
  transition: 0.5s ease-out;
  z-index: -1;
  position: absolute;
  top: 150vh;
  left: 0;
}
body main .bubble_small_menu {
  transition: 0.5s ease-out;
  z-index: -1;
  position: absolute;
  top: 290vh;
  right: 25vw;
}
body main .first_layer_wave {
  transition: 0.5s ease-out;
  z-index: -2;
  position: absolute;
  width: 100%;
  top: 290vh;
  left: 0;
}
@media screen and (max-width: 1800px) {
  body main .first_layer_wave {
    display: none;
    background-color: red;
  }
}
body main .history {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35vh;
}
body main .history .icons {
  transition: 0.5s ease-out;
  margin-top: 10%;
  z-index: 0;
  margin-bottom: -6.5%;
  margin-left: -20%;
}
body main .history .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body main .history .content .paragraphTop {
  transition: 0.5s ease-out;
  font-family: "Eagle-Book";
  z-index: 3;
  width: 35%;
  height: 30%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
  margin-bottom: -25%;
  margin-right: 20%;
}
body main .history .content .paragraphTop h2 {
  width: 100%;
  height: 25%;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body main .history .content .paragraphTop .text {
  font-family: "Eagle-Light";
  width: 90%;
  height: 80%;
  margin-left: -10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
body main .history .content .paragraphTop .text .storyText {
  width: 80ch;
  padding: 25px;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .history .content .paragraphTop .text .storyText .blue {
  color: #0066FF;
}
body main .history .content .paragraphTop .text .storyText .white {
  color: white;
  border: 1px solid black;
}
body main .history .content .paragraphTop .text .storyText .red {
  color: #FF0000;
}
body main .history .content .paragraphTop .text .sideSpan {
  width: 5px;
  height: 80%;
  background-color: #C64E1C;
  border-radius: 5px;
}
body main .history .content .imageRight {
  transition: 0.5s ease-out;
  transform: scale(0.9);
  margin-right: -30%;
  z-index: 2;
}
body main .history .content .paragraphBottom {
  transition: 0.5s ease-out;
  font-family: "Eagle-Book";
  z-index: 0;
  width: 35%;
  height: 30%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
  margin-top: -7%;
  margin-left: 0%;
}
body main .history .content .paragraphBottom .text {
  font-family: "Eagle-Light";
  width: 90%;
  height: 100%;
  margin-left: -10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
body main .history .content .paragraphBottom .text .storyText {
  margin-top: 10%;
  width: 80ch;
  padding: 25px;
  text-align: right;
  line-height: 24px;
  font-size: 16px;
}
body main .history .content .paragraphBottom .text .sideSpan {
  width: 5px;
  height: 80%;
  background-color: #C64E1C;
  border-radius: 5px;
}
body main .menu {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25vh;
}
body main .menu h1 {
  font-family: "Eagle-Book";
  text-align: center;
  font-size: 36px;
  padding-top: 100px;
}
body main .menu h2 {
  font-family: "Eagle-Book";
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .menu .formula {
  display: flex;
  width: 90%;
  margin: 10px auto;
  justify-content: space-around;
  padding-top: 50px;
}
body main .menu .formula p {
  font-family: "Eagle-Light";
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  body main .menu .formula {
    width: 668px;
  }
}
body main .menu .logo-menu {
  transition: 0.5s ease-out;
  max-width: 54%;
  display: flex;
  margin: 0 auto;
  margin-top: 30vh;
}
body main .menu .dot {
  height: 50px;
  width: 50px;
  border: 1px 3px dotted #0F1C3F;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.741);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.116);
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
body main .menu .dot p {
  display: flex;
  justify-content: center;
  padding-top: 14px;
}
body main .menu .lunch {
  transition: 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.741);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.116);
  border-radius: 15px;
  padding: 50px;
}
body main .menu .lunch .title {
  color: #06277B;
}
body main .menu .lunch .subtitle {
  text-align: center;
  padding-top: 20px;
  color: #C64E1C;
}
body main .menu .lunch h3 {
  text-align: center;
  padding-top: 30px;
  color: #06277B;
  font-family: "Eagle-Bold";
}
body main .menu .lunch p {
  text-align: center;
}
body main .menu .lunch .flat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 10px;
  margin: 0 auto;
  grid-row-gap: 73px;
  grid-column-gap: 40px;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  body main .menu .lunch .flat {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: -10vw;
  }
}
body main .menu .lunch .flat1 {
  grid-area: 1/1/2/2;
}
body main .menu .lunch .flat2 {
  grid-area: 1/2/2/3;
}
body main .menu .lunch .flat3 {
  grid-area: 1/3/2/4;
}
@media screen and (max-width: 900px) {
  body main .menu .lunch .flat3 {
    grid-area: 2/1/3/2;
  }
}
body main .menu .flat4 {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 900px) {
  body main .menu .flat4 {
    grid-area: 2/2/3/3;
  }
}
body main .menu .flat5 {
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 900px) {
  body main .menu .flat5 {
    grid-area: 3/1/4/2;
  }
}
body main .menu .flat6 {
  grid-area: 2/3/3/4;
}
@media screen and (max-width: 900px) {
  body main .menu .flat6 {
    grid-area: 3/2/4/3;
  }
}
body main .menu .flat7 {
  grid-area: 3/1/4/2;
}
@media screen and (max-width: 900px) {
  body main .menu .flat7 {
    grid-area: 4/1/5/2;
  }
}
body main .menu .flat8 {
  grid-area: 3/2/4/3;
}
@media screen and (max-width: 900px) {
  body main .menu .flat8 {
    grid-area: 4/2/5/3;
  }
}
body main .menu .flat9 {
  grid-area: 3/3/4/4;
}
@media screen and (max-width: 900px) {
  body main .menu .flat9 {
    grid-area: 5/1/6/3;
  }
}
body main .menu .ogm-info {
  transition: 0.5s ease-out;
  background-color: black;
  color: white;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  font-family: "Eagle-Bold";
}
@media screen and (max-width: 1200px) {
  body main .menu .ogm-info {
    flex-direction: column;
  }
}
body main .menu .ogm-info p {
  margin-left: 80px;
}
@media screen and (max-width: 1200px) {
  body main .menu .ogm-info p {
    margin-left: 0px;
  }
}
body main .menu .ogm-info img {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: -20px;
}
@media screen and (max-width: 1200px) {
  body main .menu .ogm-info img {
    margin-top: 0px;
  }
}
body main .menu .extra {
  padding-top: 30px;
}
body main .menu .extra .all-title {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main .menu #night-menu {
  display: none;
}
body main .menu .right-arrow {
  width: 50px;
  margin-right: -40px;
  transform: rotate(180deg);
  cursor: pointer;
}
body main .menu .left-arrow {
  width: 50px;
  cursor: pointer;
  display: none;
  margin-left: -40px;
}
body main section.Masonry {
  /* Grids --------------------------------------------*/
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 150px);
  margin: 0 auto;
  max-width: 70%;
  padding: 2rem 0;
  /* Grid images --------------------------------------------*/
  /* Grid items --------------------------------------------*/
}
@media screen and (max-width: 599px) {
  body main section.Masonry {
    display: flex;
    grid-gap: 1rem;
    max-width: 95%;
  }
}
body main section.Masonry img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  body main section.Masonry img {
    width: 100%;
  }
}
body main section.Masonry .item-1 {
  grid-column: 1;
  grid-row: 1;
}
body main section.Masonry .item-2 {
  grid-row: 1/3;
  grid-column: 2;
}
body main section.Masonry .item-3 {
  grid-row: 0;
  grid-column: 3;
  width: 50%;
}
body main section.Masonry .item-4 {
  grid-row: 2;
  grid-column: 1/2;
}
body main section.Masonry .item-5 {
  grid-row: 1/4;
  grid-column: 3;
}
@media screen and (max-width: 599px) {
  body main section.Masonry .item-5 {
    display: none;
  }
}
body main section.Masonry .item-6 {
  grid-row: 3;
  grid-column: 1/3;
}
body main section.Masonry .item-7 {
  grid-row: 3;
  grid-column: 2/4;
}
@media screen and (max-width: 1200px) {
  body .hidden {
    transform: translateY(50px) translateX(10px);
  }
  body main .bubble_small {
    top: 100vh;
    right: 0;
  }
  body main .bubble_big {
    top: 150vh;
    left: 0;
    transform: scale(0.8);
    margin-left: -10vw;
  }
  body main .history {
    width: 100%;
    height: 150vh;
  }
  body main .history .icons {
    margin-top: 10%;
    z-index: 0;
    margin-bottom: -20%;
    margin-right: 30%;
  }
  body main .history .content {
    width: 100%;
    height: 100%;
  }
  body main .history .content .paragraphTop {
    width: 55%;
    height: 30%;
    padding-inline: 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
    margin-bottom: -35%;
    margin-right: 25%;
  }
  body main .history .content .paragraphTop h2 {
    width: 100%;
    height: 25%;
    font-size: 20px;
  }
  body main .history .content .paragraphTop .text {
    width: 90%;
    height: 80%;
    margin-left: -10%;
  }
  body main .history .content .paragraphTop .text .storyText {
    width: 80ch;
    padding: 25px;
    line-height: 20px;
    font-size: 14px;
  }
  body main .history .content .paragraphTop .text .sideSpan {
    width: 5px;
    height: 80%;
  }
  body main .history .content .imageRight {
    transform: scale(0.8);
    margin-right: -30%;
  }
  body main .history .content .paragraphBottom {
    width: 50%;
    height: 25%;
    padding-inline: 50px;
    margin-top: -15%;
    margin-left: -5%;
  }
  body main .history .content .paragraphBottom .text {
    width: 90%;
    height: 100%;
    margin-left: -10%;
  }
  body main .history .content .paragraphBottom .text .storyText {
    margin-top: 10%;
    width: 80ch;
    padding: 25px;
    line-height: 20px;
    font-size: 14px;
  }
  body main .history .content .paragraphBottom .text .sideSpan {
    width: 5px;
    height: 80%;
  }
}
body footer {
  background-color: #2D2D2D;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -10vh;
}
body footer .suis-nous {
  width: 25%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body footer .suis-nous .line {
  display: block;
  height: 1px;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  margin-top: 5%;
}
body footer .suis-nous img {
  width: 100px;
  height: 100px;
}
body footer .suis-nous .socialMedia {
  width: 100px;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body footer .suis-nous .socialMedia i {
  transform: scale(2);
}
body footer .contactLinks {
  width: 25%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body footer .contactLinks .top {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body footer .contactLinks .top .line {
  display: block;
  height: 1px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  margin-top: 5%;
}
body footer .contactLinks .bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  height: 5%;
}
body footer .contactLinks .bottom p {
  font-size: 20px;
  color: white;
}
body footer .legalMentions {
  width: 25%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body footer .legalMentions .top {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body footer .legalMentions .top .line {
  display: block;
  height: 1px;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin-top: 5%;
}
body footer .legalMentions .bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 5%;
}
body footer .legalMentions .bottom a {
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 900px) {
  body footer {
    background-color: #2D2D2D;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .suis-nous {
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .suis-nous .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .suis-nous img {
    width: 100px;
    height: 100px;
  }
  body footer .suis-nous .socialMedia {
    width: 100px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body footer .suis-nous .socialMedia i {
    transform: scale(2);
  }
  body footer .contactLinks {
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .contactLinks .top {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .contactLinks .top .line {
    display: block;
    height: 1px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .contactLinks .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  body footer .contactLinks .bottom p {
    font-size: 20px;
    color: white;
  }
  body footer .legalMentions {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .legalMentions .top {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .legalMentions .top .line {
    display: block;
    height: 1px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .legalMentions .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 5%;
  }
  body footer .legalMentions .bottom a {
    font-size: 20px;
    color: white;
  }
}
@media screen and (max-width: 599px) {
  body footer {
    background-color: #2D2D2D;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .suis-nous {
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .suis-nous .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .suis-nous img {
    width: 100px;
    height: 100px;
  }
  body footer .suis-nous .socialMedia {
    width: 100px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body footer .suis-nous .socialMedia i {
    transform: scale(2);
  }
  body footer .contactLinks {
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .contactLinks .top {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .contactLinks .top .line {
    display: block;
    height: 3px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .contactLinks .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  body footer .contactLinks .bottom p {
    font-size: 20px;
    color: white;
  }
  body footer .legalMentions {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .legalMentions .top {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  body footer .legalMentions .top .line {
    display: block;
    height: 1px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  body footer .legalMentions .bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 5%;
  }
  body footer .legalMentions .bottom a {
    font-size: 20px;
    color: white;
  }
}
@media screen and (max-width: 900px) {
  body .hidden {
    transform: translateY(0px) translateX(0px);
  }
  body main .bubble_small {
    top: 90vh;
    right: 0vw;
  }
  body main .bubble_big {
    top: 130vh;
    left: -10vw;
    transform: scale(0.5);
    margin-left: -20vh;
  }
  body main .history {
    width: 100%;
    height: 100vh;
  }
  body main .history .icons {
    margin-top: 10%;
    z-index: 0;
    margin-bottom: -50vh;
    margin-right: 30%;
    transform: scale(0.6);
  }
  body main .history .content {
    width: 100%;
    height: 100%;
  }
  body main .history .content .paragraphTop {
    z-index: 0;
    width: 90%;
    height: 30%;
    padding-inline: 50px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
    margin-bottom: 0%;
    margin-right: 10%;
  }
  body main .history .content .paragraphTop h2 {
    width: 100%;
    height: 25%;
    font-size: 20px;
  }
  body main .history .content .paragraphTop .text {
    width: 90%;
    height: 80%;
    margin-left: -10%;
  }
  body main .history .content .paragraphTop .text .storyText {
    width: 80ch;
    padding: 25px;
    line-height: 20px;
    font-size: 14px;
  }
  body main .history .content .paragraphTop .text .sideSpan {
    width: 5px;
    height: 80%;
  }
  body main .history .content .imageRight {
    display: none;
  }
  body main .history .content .paragraphBottom {
    z-index: 0;
    width: 90%;
    height: 25%;
    padding-inline: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
    margin-top: 10%;
    margin-right: 5%;
  }
  body main .history .content .paragraphBottom .text {
    width: 90%;
    height: 100%;
    margin-left: -10%;
  }
  body main .history .content .paragraphBottom .text .storyText {
    margin-top: 0%;
    width: 80ch;
    padding: 25px;
    line-height: 20px;
    font-size: 14px;
  }
  body main .history .content .paragraphBottom .text .sideSpan {
    width: 5px;
    height: 80%;
  }
}
@media screen and (max-width: 599px) {
  body .hidden {
    transform: translateY(0px) translateX(0px);
  }
  body main .history {
    width: 100%;
    height: 125vh;
  }
  body main .history .icons {
    margin-top: 15vh;
    z-index: 0;
    margin-bottom: -5vh;
    margin-right: 30%;
  }
  body main .history .content .paragraphTop {
    z-index: 0;
    width: 95%;
    height: 60%;
    padding-inline: 50px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
    margin-bottom: 0%;
    margin-right: 10%;
  }
  body main .history .content .paragraphTop h2 {
    width: 100%;
    height: 25%;
    font-size: 28px;
  }
  body main .history .content .paragraphTop .text {
    width: 100%;
    height: 80%;
    margin-left: -10%;
  }
  body main .history .content .paragraphTop .text .storyText {
    width: 100ch;
    padding: 25px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10%;
  }
  body main .history .content .paragraphTop .text .sideSpan {
    width: 5px;
    height: 80%;
  }
  body main .history .content .imageRight {
    display: none;
  }
  body main .history .content .paragraphBottom {
    z-index: 0;
    width: 95%;
    height: 60%;
    padding-inline: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
    margin-top: 10%;
    margin-left: 10%;
  }
  body main .history .content .paragraphBottom .text {
    width: 100%;
    height: 100%;
    margin-left: -10%;
  }
  body main .history .content .paragraphBottom .text .storyText {
    margin-top: 0%;
    width: 100ch;
    padding: 25px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 10%;
  }
  body main .history .content .paragraphBottom .text .sideSpan {
    width: 5px;
    height: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
