* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Eagle-Bold';
    src: url(./fonts/Eagle-Bold.otf);
}

@font-face {
    font-family: 'Eagle-Light';
    src: url(./fonts/Eagle-Light.otf);
}

@font-face {
    font-family: 'Eagle-Book';
    src: url(./fonts/eagle-5.ttf);
}

@mixin for-phone-only {
    @media screen and (max-width: 599px) { @content; }
  }
@mixin for-tablet-landscape-up {
    @media screen and (max-width: 900px) { @content; }
  }
@mixin for-desktop-up {
    @media screen and (max-width: 1200px) { @content; }
  }
@mixin for-big-desktop-up {
    @media screen and (max-width: 1800px) { @content; }
  }

body {
    .tinyText {
        font-family: 'Epilogue', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: white;
    }

    .bigText {
        font-family: 'Oswald', sans-serif;
        font-size: 100px;
        font-weight: 900;
        line-height: 100px;
        color: white;
    }

    .changeColor {
        width: 150px;
        height: 150px;
        background-color: black;
    }

    .late {
        background-color: red;
    }

    header {
        z-index: 1000;
        display: flex;
        justify-content: center;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        transition: top 0.2s ease-in-out;

        &.is-hidden {
            opacity: 0;
            -webkit-transform: translate(0,-60px);
            transition: .5s ease;
          }
        
          &.is-visible {
            opacity: 1;
            -webkit-transform: translate(0,0);
            transition: .5s ease;
          }

          &.shadow {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }

        nav {
            width: 100%;
            padding: 0 10rem;

            ul {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 24px;
                        font-family: 'Eagle-Light';
                    }
                }
            }
        }
        img {
            width: 100px;
            height: 100px;
            margin-top: 5rem;
        }
    }

    main {
        .heroHeader {
            height: calc(100vh - 100px);
            background-image: url(./img/img-desktop-pain-scaled.jpeg);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                width: 500px;
                margin-left: 35rem;
            }
        }
        .history{
            width: 100%;
            height: 150vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .icons{
                margin-top: 10%;
                z-index: 0;
                margin-bottom: -6.5%;
                margin-left: -20%;
            }
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .paragraphTop{
                    font-family: 'Eagle-Book';
                    z-index: 3;
                    width: 35%;
                    height: 30%;
                    background-color: #FAFAFA;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding-inline: 50px;
                    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                    margin-bottom: -25%;
                    margin-right: 20%;
                    h2{
                        width: 100%;
                        height: 25%;
                        font-size: 24px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .text{
                        font-family: 'Eagle-Light';
                        width: 90%;
                        height: 80%;
                        margin-left: -10%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: row-reverse;
                        .storyText{
                            width: 80ch;
                            padding: 25px;
                            text-align: left;
                            line-height: 24px;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .blue{
                                color: #0066FF;
                            }
                            .white{
                                color: white;
                                border: 1px solid black;
                            }
                            .red{
                                color: #FF0000;
                            }
                        }
                        .sideSpan{
                            width: 5px;
                            height: 80%;
                            background-color: #C64E1C;
                            border-radius: 5px;
                        }
                    }
                }
                .imageRight{
                    transform: scale(0.9);
                    margin-right: -30%;
                    z-index: 2;
                }
                .paragraphBottom{
                    font-family: 'Eagle-Book';
                    z-index: 0;
                    width: 35%;
                    height: 30%;
                    background-color: #FAFAFA;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    padding-inline: 50px;
                    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                    margin-top: -7%;
                    margin-left: 0%;
                    .text{
                        font-family: 'Eagle-Light';
                        width: 90%;
                        height: 100%;
                        margin-left: -10%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        flex-direction: row;
                        .storyText{
                            margin-top: 10%;
                            width: 80ch;
                            padding: 25px;
                            text-align: right;
                            line-height: 24px;
                            font-size: 16px;
                        }
                        .sideSpan{
                            width: 5px;
                            height: 80%;
                            background-color: #C64E1C;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }


    @include for-desktop-up {
        main{
            .history{
                width: 100%;
                height: 150vh;
                .icons{
                    margin-top: 10%;
                    z-index: 0;
                    margin-bottom: -20%;
                    margin-right: 30%;
                }
                .content{
                    width: 100%;
                    height: 100%;
                    .paragraphTop{
                        width: 55%;
                        height: 30%;
                        padding-inline: 50px;
                        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
                        margin-bottom: -35%;
                        margin-right: 25%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 20px;
                        }
                        .text{
                            width: 90%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        transform: scale(0.8);
                        margin-right: -30%;
                    }
                    .paragraphBottom{
                        width: 50%;
                        height: 25%;
                        padding-inline: 50px;
                        margin-top: -15%;
                        margin-left: -5%;
                        .text{
                            width: 90%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 10%;
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }
    }

    @include for-tablet-landscape-up {
        main{
            .history{
                width: 100%;
                height: 100vh;
                .icons{
                    margin-top: 10%;
                    z-index: 0;
                    margin-bottom: -20vh;
                    margin-right: 30%;
                }
                .content{
                    width: 100%;
                    height: 100%;
                    .paragraphTop{
                        z-index: 0;
                        width: 90%;
                        height: 30%;
                        padding-inline: 50px;
                        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
                        margin-bottom: 0%;
                        margin-right: 10%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 20px;
                        }
                        .text{
                            width: 90%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        display: none;
                    }
                    .paragraphBottom{
                        z-index: 0;
                        width: 90%;
                        height: 25%;
                        padding-inline: 20px;
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
                        margin-top: 10%;
                        margin-left: 10%;
                        .text{
                            width: 90%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 0%;
                                width: 80ch;
                                padding: 25px;
                                line-height: 20px;
                                font-size: 14px;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }
    }

    @include for-phone-only {
        main{
            .history{
                width: 100%;
                height: 125vh;
                .icons{
                    margin-top: 15vh;
                    z-index: 0;
                    margin-bottom: -5vh;
                    margin-right: 30%;
                }
                .content{
                    .paragraphTop{
                        z-index: 0;
                        width: 95%;
                        height: 60%;
                        padding-inline: 50px;
                        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.24);
                        margin-bottom: 0%;
                        margin-right: 10%;
                        h2{
                            width: 100%;
                            height: 25%;
                            font-size: 28px;
                        }
                        .text{
                            width: 100%;
                            height: 80%;
                            margin-left: -10%;
                            .storyText{
                                width: 100ch;
                                padding: 25px;
                                line-height: 22px;
                                font-size: 16px;
                                margin-bottom: 10%;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                    .imageRight{
                        display: none;
                    }
                    .paragraphBottom{
                        z-index: 0;
                        width: 95%;
                        height: 60%;
                        padding-inline: 20px;
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.24);
                        margin-top: 10%;
                        margin-left: 10%;
                        .text{
                            width: 100%;
                            height: 100%;
                            margin-left: -10%;
                            .storyText{
                                margin-top: 0%;
                                width: 100ch;
                                padding: 25px;
                                line-height: 22px;
                                font-size: 16px;
                                margin-bottom: 10%;
                            }
                            .sideSpan{
                                width: 5px;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}